h2 {
	margin-top: 156px;
	text-align: center;
	color: white;
}

body {
background-color: black;
}	

#profile
{
	float: left;
}

#one {
	font-size: 64px;
	width: 640px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic"; 
	color: white;
	border-style: solid;
	border-width: 0px 0px 0px 10px;
	background-color: rgba(255, 0, 0, 0.45);
	border-color: red;
	margin-top: 10px;
	margin-left: 10px;
	float: right;
}

.titling{
display: inline-block;
}

/*use # to link to html id, example html: id="lol" css: #lol ...*/